<div class="fair">
    <div class="banner mb-4">
        <img class="bannerImg" [src]="getfairDetails.bannerUrl" alt="">
        <div class="information">
            <h4>{{getfairDetails.fairName}}</h4>
            <p>Event Type : {{getfairDetails.type}}</p>
            <p>Deadline : {{((getfairDetails.startDate * 1000)-(24*60*60*1000)) | date}}</p>
            
        </div>
    </div>
    <button class="btn btn-warning button1">Subscribe to register</button>
    <p [innerHTML]="getfairDetails.candidateDescription" class="p-4">
        {{getfairDetails.candidateDescription}}
    </p>
</div>
